<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ShortUrl</title>
    <style>
      body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      }
      table,
      th,
      td {
        border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <h1>Welcome to ShortUrl Generator</h1>

    <% if (locals.id) { %>
    <p>Short URL Generated: <b>http://localhost:5001/user/<%= id %></b></p>
    <% } %>
    <div>
      <form action="/user/url" method="post">
        <label for="">Enter your original url</label>
        <input
          type="text"
          placeholder="https://example.com"
          id="url"
          name="url"
        />
        <button type="submit">Generate</button>

        <% if (locals.urls) { %>

          <div style="margin-top: 80px">
        <table style="width: 100%">
          <tr>
            <th>ShortURL</th>
            <th>RedirectUrl</th>
            <th>Total Clicks</th>
          </tr>
          <% urls.forEach(url => { %>
            <tr>
              <td><%= url.shortid %></td>
              <td><%= url.redirectUrl %></td>
              <td><%= url.visitHistory.length %></td>
            </tr>
            
          <% }) %>
          
        </table>
      </div>
        <% } %>
      </form>
    </div>

    

    <script>
      let deletebutton = document.getElementById('delete');
      deletebutton.addEventListener('click' , )
    </script>
  </body>
</html>
